h3 {
    color:red
}

.text-color {

    color: red;
    background-color: blue;
}
.box{
    background-color: purple;
}
button{
    color:green;
}
.header-right{
    text-align : right;
}
pre{
    text-align : right;
}

